@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web&subset=latin,latin-ext);

#edit-submit-google-apps.onl_btn-google-plus {
	background-color: #c32f10 !important;
	border-color:#6b1301 !important;
	color: white !important;
}